<!doctype html>
<html>
<head>
    <title>Evolve Planner for Pokemon Go</title>
</head>
<body ng-app="evolveForPokemonGo" ng-controller="Evovle as ev">
    <h1>Evovle Planner for Pokemon Go</h1>
    <div>Intended to help decide how many Pokemon to transfer for candy to perpare for a lucky egg XP blitz. No affiliation with Niantic or Nintendo.</div>
    <p>Use at your own risk. Not responsible for mistakes. This is still under development. I'd like it to eventually be easy to use on mobile.</p>
    <h2>Instructions</h2>
    <ul>
        <li><strong>Only count the Pokemon you're willing to transfer (sell for candy).</strong> If you want to keep any of your Pidgeys or Pidgeottos, for example, don't include them in the counts below.</li>
        <li>This assumes you will spend candy first, then sell second-level evolved Pokemon for candy, and then sell first-level Pokemon for candy until you don't have enough candy plus transferrable Pokemon to evolve another.</li>
        <li>Enter your Pokemon counts and candy counts for the "from" and "to" Pokemon, and the planner will show you how many of each type of Pokemon to transfer.</li>
        <li>You may want to transfer as many Pokemon (up to your count) before using a lucky egg otherwise making a lot of transfers can eat up your double-XP time</li>
    </ul>
    <h2>Planner/Calculator</h2>
    <table style="white-space:pre-wrap;">
        <tr>
           <th>Pokemon</th>
           <th>Count</th>
           <th>Candy</th>
           <th>Candy to
Evolve</th>
           <th>Num to
Transfer</th>
           <th>Num to
Evolve</th>
           <th>Count
when done</th>
           <th>Candy
when done</th>
           <th>XP when
done</th>
           <th>XP if
Lucky Egg</th>
        </tr>
        <tr ng-repeat-start="pokemon in ev.pokechart">
           <td>{{ pokemon.Pokemon }}</td>
           <td><input type="text" size="3" ngPattern="\d+" ng-model="pokemon.count"></td>
           <td><input type="text" size="3" ngPattern="\d+" ng-model="pokemon.candyCount"></td>
           <td>{{ pokemon.Candy }}</td>
           <td>{{ ev.ToTransfer(pokemon) }}</td>
           <td>{{ pokemon.numToEvolve }}</td>
           <td>{{ pokemon.numPokeAfter }}</td>
           <td>{{ pokemon.candyCountAfter }}</td>
           <td rowspan="2">{{ pokemon.Xp }}</td>
           <td rowspan="2">{{ pokemon.Xp * 2 }}</td>
        </tr>
        <tr ng-repeat-end>
           <td style="text-align:right;"> {{ pokemon.EvolveTo.join('\nor ') }} </td>
           <td><input type="text" size="3" ngPattern="\d+" ng-model="pokemon.evolvedCount"></td>
           <td> - </td>
           <td> - </td>
           <td>{{ pokemon.numEvPokeToTransfer }}</td>
           <td> - </td>
           <td>{{ pokemon.numEvPokeAfter }}</td>
           <td> - </td>
        </tr>
        <tr>
            <td>XP Totals</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>{{ ev.SumXP() }}</td><td>{{ ev.SumXP() * 2 }}</td>
        </tr>

    </table>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script>
        (function() {
            'use strict';

            angular
                .module('evolveForPokemonGo', [])
                .controller('Evovle', Evovle);

            Evovle.$inject = ["$http"];

            function Evovle($http) {
                var vm = this;
                vm.pokechart = [];

                vm.InitValues = function(e) {
                    e.count = e.candyCount = e.evolvedCount = 0;
                    return e;
                }

                vm.ToTransfer = function(pokemon) {
                    var numEvPoke = 0;
                    var numToEvolve = 0;
                    var numPokeToTransfer =0;
                    var numEvPokeToTransfer = 0;
                    var numPoke = pokemon.count;
                    var numCandy = parseInt(pokemon.candyCount);
                    var numEvPoke = parseInt(pokemon.evolvedCount);

                    while (numPoke > 0 && Math.floor((numCandy + numEvPoke + numPoke -1) / pokemon.Candy ) > 0) {
                        if (numCandy >= pokemon.Candy) {
                            numCandy -= pokemon.Candy;
                            numPoke -= 1;
                            numToEvolve += 1;
                            numEvPoke += 1;
                        } else if (numEvPoke > 0) {
                            numEvPoke -=1;
                            numEvPokeToTransfer +=1;
                            numCandy += 1;
                        } else {
                            numPoke -=1;
                            numPokeToTransfer +=1;
                            numCandy += 1;
                        }
                    }
                    pokemon.numToEvolve = numToEvolve;
                    pokemon.numEvPokeToTransfer = numEvPokeToTransfer;
                    pokemon.numPokeAfter = numPoke;
                    pokemon.numEvPokeAfter = numEvPoke;
                    pokemon.candyCountAfter = numCandy;
                    pokemon.Xp = numToEvolve * 500;
                    return numPokeToTransfer;
                }

                vm.SumXP = function() {
                    return vm.pokechart.reduce(function(sum, e, i, a){
                        return sum + e.Xp;
                    }, 0);
                }

                $http.get("data/evolve.json")
                .success(function(response) {
                    vm.pokechart = response.map(vm.InitValues);
                });
            }
        })();
    </script>
</body>
</html>